#!/bin/sh
# Fully-qualified path to this Bash script
DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"

# Python virtual environent
ACTIVATE_FILE=$DIR/venv/bin/activate

# Activate the virtual python environment
echo "Activating virtual python environment: $ACTIVATE_FILE"
if test -f $ACTIVATE_FILE; then
    . $ACTIVATE_FILE
else
    echo "Virtual Python environment not found. You should create one in $DIR"
fi
export PYTHONPATH=$DIR:$PYTHONPATH
unset PS1

